@import "../../shared/styles/main.css";
@import "../../shared/styles/regandlogin.css";
@import "../../shared/styles/login.css";
@import "../../shared/styles/reg.css";
@import "../../shared/styles/choice_reg.css";
