name: Deploy

on:
  push:
    branches: [ "main" ]

jobs:
  build-and-deploy:
    runs-on: self-hosted

    steps:
      - uses: actions/checkout@v3

      - name: Build Docker
        run: |
          docker build -t paydeya-backend .

      - name: Deploy to Web VM
        run: |
          ssh pulusik@192.168.2.3 "
            cd /opt/paydeya &&
            git pull &&
            docker-compose down &&
            docker-compose up -d --build
          "
